<i><b>Wolters Kluwer.</b></i><br/>
Establecimiento de usuario administrador con permisos de edicion sobre IPF para poder realizar la operación de edición.<br/>
Asignacion de la prioridad en función del producto afectado y el tipo de problema.<br/>

&nbsp;&nbsp;-&nbsp;Usuario administrador seleccionado: &nbsp;&nbsp;<b>$userAdmin</b>