<i><b>Wolters Kluwer.</b></i><br/>
Establecimiento de usuario administrador con permisos de edicion sobre el proyecto actual para poder realizar la operacion de edicion.<br/>
&nbsp;&nbsp;-&nbsp;Usuario administrador seleccionado: &nbsp;&nbsp;<b>$userAdmin</b>

Recupera el combo sobre el que se elige el usuario a asignar
#if ($field)
	Campo '$field'.
#end